<div>
    Dear Sir/Madam  <br />
    <br />
    <p>
        You have indicated that you have forgotten the password for your account
        <br />
        <a href="@(Model.Link)">click me</a>
        to reset your password.
        <br /><br />
        Regards,<br />
    </p>
</div>