@RenderSection("css", false)
<div class="modal commen_modal" id="page-modal" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            @RenderBody()
        </div>
    </div>
</div>
@RenderSection("scripts", false)